.wrapper {
    position: relative;
    margin-bottom: rem(30px);
    margin: 50px;
  }
  
  .dropzone {
    border-width: rem(1px);
    padding-bottom: rem(50px);
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
  
  .description {
    color: var(--mantine-color-gray-0);
    text-align: center;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-md);
      text-align: left;
    }
  }